# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
emails.db
token.json
credentials.json

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

